// App Styles
// ----------------------------------------------------------------------------
// Put style rules here that you want to apply to the entire application. These 
// styles are for the entire app and not just one component. Additionally, this 
// file can hold Sass mixins, functions, and placeholder classes to be imported 
// and used throughout the application.
@font-face {
    font-family: 'Roboto';
    src: url('../assets/fonts/roboto.woff2') format('woff2');
}
*{
    font-family: 'Roboto', sans-serif;
}