<ion-header>
  <ion-toolbar>
    <ion-title>
      Apolo Chat
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <ion-item>
      <ion-label position="floating">Username</ion-label>
      <ion-input type="text" [(ngModel)]="username"></ion-input>
    </ion-item>
    <ion-button expand="block" fill="outline" (click)="loginUser()">Login</ion-button>
  </div>
</ion-content>
