<ion-header  [style.font-size]="textSize+'px'">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Configuracion de la Aplicación
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding no-bounce text-center fullscreen [style.font-size]="textSize+'px'" [ngStyle]="{'font-size': textSize+'px' }">
  <ion-list [style.font-size]="textSize+'px'">
    <ion-item>
      <ion-label> Modo para ciegos</ion-label>
      <ion-checkbox color="primary" checked="true" [(ngModel)]="blindMode"></ion-checkbox>
    </ion-item>
    <ion-list-header>
      Ajusta el tamaño de la fuente
    </ion-list-header>
    <ion-item>
      <ion-range min="8" max="20" step="1" snaps="true" [(ngModel)]="textSize">
        <ion-label range-left class="small-text">A</ion-label>
        <ion-label range-right>A</ion-label>
      </ion-range>
    </ion-item>
  </ion-list>
  <ion-button class="activated" color="primary" (click)="guardarConfiguracion()">Guardar configuracion</ion-button>
  {{textSize}}
</ion-content>