<ion-slides pager="true">
  <ion-slide class="step-one">
    <ion-img
    src="assets\img\deafImage.png" class="slide-image"
    ></ion-img>
    <h1>Modo para ciegos</h1>
    <ion-row>
      <ion-col size="2"></ion-col>
      <ion-col size="8">
      <p style="text-align: justify">
        Si estas preparando la aplicacion para una persona con discapacidad visual activa el modo
        para ciegos en el menu de configuracion
      </p>
    </ion-col>
    <ion-col size="2"></ion-col>
    </ion-row>
  </ion-slide>

  <ion-slide class="step-two">
    <ion-icon class="iconoImagen" name="settings"></ion-icon>
    <h1>Heading</h1>
    <p>Text</p>
  </ion-slide>

  <ion-slide class="step-three">
    <ion-img
      src="https://heroichollywood.com/wp-content/uploads/2018/11/pokemon-detective-pikachu-image-1.jpg"
    ></ion-img>
    <h1>Heading</h1>
    <p>Text</p>
    <a (click)="finish()">
      <span class="button-inner">
        <slot name="start">Continue</slot>
        <slot name="end"><ion-icon name="arrow-forward"></ion-icon></slot></span>
        <ion-ripple-effect type="bounded" role="presentation" class="hydrated"></ion-ripple-effect></a>
    <!--<ion-button (click)="finish()">FINISH TUTORIAL!</ion-button>-->
  </ion-slide>
</ion-slides>
