*{
    font-family: 'Roboto', sans-serif;
}
.innerMessage{
    display: inline-block;
    padding: 5px, 10px;
    background-color : #3880ff;
    margin : 5px;
    color : white;
    border-radius: 3px;
}
.innerMessage.messageRight{
    background-color: #4CAF50;
}
.username{
    //font-weight: bold;
    font-size: 70%;
    //font-style: italic
    padding-left: 5px;
}
.messageContent{
    font-size: 120%;
    padding-left :10px;
    padding-right: 10px;
    font-family: 'Roboto', sans-serif;
}
.elem ion-button{
    border-radius: 0;
    margin: 0; 
    position: absolute;
    top: 0;
    left : 0;
    width: 100%;
    height: 100%;
}
.elem{
    position: relative;
    min-width: 50px;
}
div#footer div.elem:first-child{
    flex-grow: 1;
}
div#footer{
    display: flex;
    flex-direction: row;
    align-items: stretch;
}
ion-input{
    padding-left: 15px;
    font-size: 125%;
}
.message:after{
    content: '';
    display: block;
    clear: both;
}
.messageLeft{
    float: left;
}
.messageRight{
    float: right; 
}
.message.special .innerMessage .messageContent{
background: white;
display: inline-block;
padding: 10 10px;
}
.message.special .innerMessage:before{
    content: '';
    height: 2px;
    background: #eee;
    display: block;
    top: 50%;
    position: absolute;
    left : 0;
    width: 100%;
    z-index: -1;
}
.message.special .innerMessage{
    background: transparent;
    color: black;
    font-size: 80%;
    width: 100%;
    float: none;
    text-align: center;
    position: relative;
}