<ion-header>
  <ion-toolbar color="dark" black>
    <ion-title style="text-align:center">Apolo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content #content padding>
<div id="chatMessages"></div>
  <div *ngFor="let message of messages" [class]="message.specialMessage ? 'message special' : 'message'">
    <div [class]="message.username == username? 'innerMessage messageRight' : 'innerMessage messageLeft'">
      <div class="username">{{message.username}}</div>
      <div class="messageContent">{{message.message}}</div>
  </div>
  </div>
</ion-content>
<ion-footer>
      <div id="footer">
      <div class="elem"><ion-input type="text" [(ngModel)]="message"></ion-input></div>
      <div class="elem"><ion-button icon-only (click)="sendMessage()"><ion-icon name="send"></ion-icon></ion-button></div>
    </div>
</ion-footer>