<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title> List </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content no-padding *ngIf="isList">
  <ion-list no-padding *ngFor="let item of favList; index as i">
    <ion-item *ngIf="i % 2 != 0" color="primary" no-padding (click)="detalle(item.idTraduccion)" detail>
      <ion-label style="margin-left: 1%">{{ item.idioma }} - {{ item.idiomaSecundario }}</ion-label>
      <ion-label> {{ item.textoTraducir }} </ion-label>
    </ion-item>
    <ion-item *ngIf="i % 2 == 0" no-padding (click)="detalle(item.idTraduccion)" detail>
      <ion-label style="margin-left: 1%">{{ item.idioma }} - {{ item.idiomaSecundario }}</ion-label>
      <ion-label> {{ item.textoTraducir }} </ion-label>
    </ion-item>

  </ion-list>
  <ion-button (click)="reiniciarDB()">BORRAR TODO AAAAAAAA</ion-button>
  <!--
    <div *ngIf="selectedItem" padding>
      You navigated here from <b>{{selectedItem.title }}</b>
    </div>
  -->
</ion-content>
<ion-content no-padding *ngIf="!isList && selectedTraduccion != null">
  <!-- <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      <ion-card-title>Card Title</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card> -->
  <ion-card>
    <ion-item>
      <ion-icon name="arrow-dropright-circle" slot="start"></ion-icon>
      <ion-card-title> {{ selectedTraduccion.idioma }} - {{ selectedTraduccion.idiomaSecundario }}</ion-card-title>
      <ion-button fill="outline" color="danger" slot="end">Delete</ion-button>
    </ion-item>
    <ion-card-content>
      <br>
      {{ selectedTraduccion.textoTraducir}}
      <hr>
    </ion-card-content>
    <ion-card-content>
      {{ selectedTraduccion.textoTraducido}}
    </ion-card-content>
  </ion-card>
</ion-content>