<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row style="height:10%">
    <ion-col size="6">
      <ion-select id="primarySelect" placeholder="Idioma" [(ngModel)]="idiomaPrimario" interface="popover" (ionChange)="cambioSelect($event)">
        <ion-select-option *ngFor="let languaje of langList" value="{{languaje.value}}">{{languaje.text}}</ion-select-option>
      </ion-select>
    </ion-col>
    <ion-col size="6">
      <ion-select id="secondarySelect" placeholder="Idioma" [(ngModel)]="idiomaSecundario" interface="popover" (ionChange)="cambioSelect($event)">
          <ion-select-option *ngFor="let languaje of langList" value="{{languaje.value}}">{{languaje.text}}</ion-select-option>
      </ion-select>
    </ion-col>
  </ion-row>

  <ion-textarea placeholder="Introduzca el texto a traducir" style="height: 45%" cols="20" [(ngModel)]="textoTraducir"
    (keyup)="keyUp()" (keydown)="keyDown()"></ion-textarea>
  <ion-textarea readonly style="background-color: #448AFF;height: 45%; color: white" cols="20" [(ngModel)]="textoTraducido"></ion-textarea>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button *ngIf="isFav" (click)="addFav()">
      <ion-icon name="md-star"></ion-icon>
    </ion-fab-button>
    <ion-fab-button *ngIf="!isFav" (click)="addFav()">
      <ion-icon name="md-star-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button (click)="micRecord()">
      <ion-icon name="md-star-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>