#a{
    text-decoration: none;
}
.link{
    text-decoration: none;
    color: #ffffff;
}
ion-toolbar{
    background-color: #1976D2; 
    color: #ffffff
}
.bodyPrueba{
    background-color: #2196F3; 
    color: #ffffff
}