<ion-header>
  <ion-toolbar color="primary-dark" style="color: white">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title color="primary-contrast">
      Contacto
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="bodyPrueba" color="primary">
  <ion-list class="bodyPrueba">
    <ion-list-header>
      <b>Desarrolladores</b>
    </ion-list-header>
    <ion-item class="bodyPrueba">
        <ion-avatar item-start>
          <img
            src="https://scontent-mad1-1.cdninstagram.com/vp/7824eeffe6566cc8f05ffae917c982df/5CB5AFA9/t51.2885-19/s150x150/20067323_106488846681075_1713865738365698048_a.jpg?_nc_ht=scontent-mad1-1.cdninstagram.com">
        </ion-avatar>
        <a class="link" style="margin-left: 2%" href="https://www.instagram.com/pdelvalle97/">
          <h2>Pablo Del Valle</h2>
        </a>
    </ion-item>
    <ion-item class="bodyPrueba">
      <ion-avatar item-start>
        <img
          src="https://instagram.fmad3-7.fna.fbcdn.net/vp/e489a114b38d90d23f0108ec0110ee3f/5D11C21D/t51.2885-19/s150x150/19534889_682424028621848_6043843352904859648_a.jpg?_nc_ht=instagram.fmad3-7.fna.fbcdn.net">
      </ion-avatar>
      <a class="link" style="margin-left: 2%" href="https://www.instagram.com/jlapuente02/">
        <h2>Javier Lapuente</h2>
      </a>
    </ion-item>
  </ion-list>
  <ion-list class="bodyPrueba">
    <ion-list-header>
      Redes de la Aplicación
    </ion-list-header>
    <ion-item class="bodyPrueba">
      <ion-avatar item-start>
        <img
          src="https://scontent-mad1-1.cdninstagram.com/vp/51bebb13497932921ae561ebaaf99937/5CD0C7C3/t51.2885-19/s150x150/45369969_252330802114782_9158242310964641792_n.jpg?_nc_ht=scontent-mad1-1.cdninstagram.com">
      </ion-avatar>
      <a class="link" style="margin-left: 2%" href="https://www.instagram.com/apolotheapp/">
        <h2>Instagram</h2>
      </a>
    </ion-item>
    <ion-item class="bodyPrueba">
      <ion-avatar item-start>
        <img
          src="https://scontent-mad1-1.cdninstagram.com/vp/51bebb13497932921ae561ebaaf99937/5CD0C7C3/t51.2885-19/s150x150/45369969_252330802114782_9158242310964641792_n.jpg?_nc_ht=scontent-mad1-1.cdninstagram.com">
      </ion-avatar>
      <a class="link" style="margin-left: 2%" href="https://www.instagram.com/apolotheapp/">
        <h2>Twitter</h2>
      </a>
    </ion-item>
  </ion-list>
</ion-content>